extends layout

block content
    div.max-width-3.mx-auto
        div.select-currency.mx-auto.center
            form
                div.form-group.select-wrapper
                    label(for="from")
                    select#from.form-control
                       each country in availableCountries
                                if country.iso === selectedFrom
                                    option(value=country.iso, selected=true)= country.symbol + ' ' + country.name
                                else
                                    option(value=country.iso)= country.symbol + ' ' + country.name

                div.form-group.mx2 to

                div.form-group.select-wrapper
                    label(for="to")
                    select#to.form-control
                        each country in availableCountries
                                    if country.iso === selectedTo
                                        option(value=country.iso, selected=true)= country.symbol + ' ' + country.name
                                    else
                                        option(value=country.iso)= country.symbol + ' ' + country.name

        div#canvas-holder1.my3
            canvas#chart1


        div.notification

            div.form-group
                label(for="requiredRate") Required Conversion rate
                input#requiredRate.form-control(value= currentHeadlineRate)

            div.form-group
                input#email.form-control(placeholder="Email address")

            div.form-group
                input#mobile.form-control(placeholder="Mobile number")
 


        button#button.px4.py2.btn.btn-default(type="submit") Submit
