extends layout

block content
    div
        div.select-currency.mx-auto.center
            form
                div.form-group.select-wrapper
                    label(for="from")
                    select#from.form-control
                       each country in availableCountries
                                if country.iso === selectedFrom
                                    option(value=country.iso, selected=true)= country.symbol + ' ' + country.name
                                else
                                    option(value=country.iso)= country.symbol + ' ' + country.name

                div.form-group.mx2 to

                div.form-group.select-wrapper
                    label(for="to")
                    select#to.form-control
                        each country in availableCountries
                                    if country.iso === selectedTo
                                        option(value=country.iso, selected=true)= country.symbol + ' ' + country.name
                                    else
                                        option(value=country.iso)= country.symbol + ' ' + country.name

        div#canvas-holder1.my4
            canvas#chart1


        div.notification.center.max-width-3.mx-auto

            h3 Send me a notification when
                input#requiredRate.form-control(value= currentHeadlineRate).mx1
                span is exceeded

            div.form-group.mx-auto.inline
                input#email.form-control(placeholder="Email address")
                span.mx2 or
                input#mobile.form-control(placeholder="Mobile number")

            div.form-group.max-width-1.mx-auto.my3
              button#button.px4.py2.btn.btn-default(type="submit") Submit
