extends layout

block content
    div.max-width-3.mx-auto
        div.select-currency
            form
                div.form-group
                    label(for="from") From Currency
                    select#from.form-control
                       each country in availableCountries
                                if country.iso === selectedFrom
                                    option(value=country.value, selected=true)= country.symbol + ' ' + country.name
                                else
                                    option(value=country.value)= country.symbol + ' ' + country.name

                div.form-group
                    label(for="to") To currency
                    select#to.form-control
                        each country in availableCountries
                                    if country.iso === selectedTo
                                        option(value=country.value, selected=true)= country.symbol + ' ' + country.name
                                    else
                                        option(value=country.value)= country.symbol + ' ' + country.name

        div#canvas-holder1
            canvas#chart1


        div.notification

            div.form-group
                label(for="requiredRate") Required Conversion rate
                input.form-control(value= currentHeadlineRate)

            div.form-group
                label(for="email") Email
                input#email.form-control

            div.form-group
                label(for="mobile") Mobile
                input#mobile.form-control

        button.px4.py2.btn.btn-default(type="submit") Submit
