extends layout

block content
    div

        h1 Set Up A Currency Alert

        div#canvas-holder1
            canvas#chart1
            
        form
            fieldset
                legend Select your desired currency
                    div.form-group
                        label(for="from") From Currency
                        select#from.form-control
                            each country in availableCountries
                                option(value=country.value)= country.symbol + ' ' + country.name

                    div.form-group
                        label(for="to") To currency
                        select#to.form-control
                            each country in availableCountries
                                option(value=country.value)= country.symbol + ' ' + country.name
                    div.form-group
                        label(for="requiredRate") Required Conversion rate
                        input#requiredRate.form-control


                    div.form-group
                        label Required Conversion rate
                        input.form-control

              fieldset
                legend Your details
                    div.form-group
                        label(for="email") Email
                        input#email.form-control


                    div.form-group
                        label(for="mobile") Mobile
                        input#mobile.form-control

        button.px4.py2.btn.btn-default(type="submit") Submit
