doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css')
    link(rel='stylesheet', href='https://npmcdn.com/basscss@8.0.1/css/basscss.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src='javascripts/main.js')
  body
    include header.jade
    block content
