/*
    green : #8dc73f;


*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

body {
  padding: 50px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #00B7FF;
}

option {
    text-transform: capitalize;
}

button.btn-default {

    color: #fff;
    background: #8dc73f;
    border: none;

}
